@import url(components/avatar.css);
@import url(components/banner.css);
@import url(components/button.css);
@import url(components/cards.css);
@import url(components/container.css);
@import url(components/footer.css);


section {
  text-align: center;
}

h2{
  font-size: 2.5em;
  margin-bottom: 15px;
}







  